@model IEnumerable<CarRentals.Data.Models.Car>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnvironmentalRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrls)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsElectric)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAutomatic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnvironmentalRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrls)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsElectric)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAutomatic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
