@model CarRentals.Data.Models.Booking

@{
    ViewData["Title"] = "Delete";
}

<h1 class="mx-auto mt-5">Ta bort</h1>


<div class="container mt-5">
    <h3>Är du säker på att du vill avboka den här bokningen?</h3>
    <hr />
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>

    </dl>

    @if (Model.EndDate > DateTime.Now) // Check if EndDate is in the future
    {
        <form asp-action="DeleteConfirmed">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Avboka" class="btn btn-danger" /> |
            <a asp-action="Index">Tillbaka till listan</a>
        </form>
    }
    else
    {
        <p>
            Bokningen har avslutats och kan inte raderas.
        </p>
    }
</div>